<div class="footer-container">
    <div class="footer-content">
        <div class="footer-routes">
            <p class="text-neon">Sobre nosotros</p>
            <ul>
                <li><a href="Nosotros.html">Historia</a></li>
                <li><a href="Ubicacion.html">Contactos</a></li>
                <li><a href="Ubicacion.html">Ubicación</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="footer-routes">
            <p class="text-neon">Redes sociales</p>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Tiktok</a></li>
            </ul>
        </div>
    </div>
    <a href="home.html" class="footer-logo"><img src="img/logo.png"></a>
</div>
<div class="footer-term">
    <p>Copyright &copy; 2026 Mundo Dulce C.A. Todos los derechos reservados.</p>
    <p><a href="Nosotros.html">Políticas</a> - <a href="Nosotros.html">Términos y condiciones</a></p>
</div>