<nav class="navbar">
    <a href="home.html">
        <img src="img/logo.png">
    </a>

    <div class="nav-right">
        <ul class="nav-list">
            <li><a href="views/Nosotros.html">Nosotros</a></li>
            <li><a href="views/Ubicacion.html">Ubicacion</a></li>
            <li><a href="#">Catalogo</a></li>
            <li><a href="views/FAQ.html">FAQ</a></li>
        </ul>
        <a href="views/Ubicacion.html">
            <img class="WhatsApp-icon" src="img/WhatsApp_icon.png" alt="WhatsApp">
        </a>
    </div>
</nav>