<nav class="navbar">
    <a href="home.html" class="logo"><img src="img/logo.png"></a>

    <div class="nav-right">
        <ul class="nav-list">
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Ubicacion.html">Ubicación</a></li>
            <li><a href="#">Catálogo</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
        </ul>
        <a href="Ubicacion.html">
            <img class="WhatsApp-icon" src="img/WhatsApp_icon.png" alt="WhatsApp">
        </a>
    </div>
</nav>